<div id="{{mojit_view_id}}" class="master frameBorder">
    <div class="top container">
        SearchBox
        {{{search-box}}}
    </div>
    <div class="middle frameBorder container">
        <div class="left frameBorder container">
            SearchResults
            {{{search-results}}}
        </div>
        <div class="right container">
            Ads
            {{{ads}}}
        </div>
    </div>
    <div class="bottom frameBorder container">
        Footer
        {{{footer}}}
    </div>
</div>
