<!DOCTYPE HTML>
<html>
	<head>
		<script type="text/javascript">var MOJITO_INIT=new Date().getTime();</script>
		{{#meta}}
		<meta name="{{name}}" content="{{content}}">
		{{/meta}}
		{{^meta}}
		<meta name="creator" content="Yahoo! Mojito {{mojito_version}}">
		{{/meta}}

		<title>{{title}}</title>

		{{{top}}}

	</head>
	<body>

		{{{child}}}
		{{{bottom}}}

		<script type="text/javascript">
		var pipeline = [];

		YUI().use('target-action-events', 'node', function (Y) {

			var Pipeline = function Pipeline(dummyPipeline) {
					this.events = new Y.Pipeline.Events();
					this.sections = {};
					Y.Array.each(dummyPipeline, this.push.bind(this));
					this.notDisplayed = 0;
				},
				Section = function Section(config, pipeline) {
					this.pipeline = pipeline;
					Y.mix(this, config, true);
				};

			Pipeline.prototype.push = function (sectionConfig) {
				var pipeline = this,
					section = this.getSection(sectionConfig),
					displaySubscription;

				console.log('pushing: ' + sectionConfig.id);
				section.flushed = true;
				Y.mix(section, sectionConfig, true);

				// subscribe to any events specified by the section
				Y.Array.each(Section.EVENT_TYPES, function (targetAction) {
					if (!section[targetAction]) {
						return;
					}
					var targets = {};
					targets[section.id] = [targetAction];
					this.events.subscribe(targets, section[targetAction]);
				}, this);

				// merge default displayTest with user provided test
				if (sectionConfig.displayTest) {
					section.displayTest = function () {
						return Section.prototype.displayTest.bind(section).call() && sectionConfig.displayTest();
					};
				}

				// subscribe to events for the display action
				if (section.displayTest()) {
					pipeline.display(section);
				} else {
					console.log('subscribing to:' + JSON.stringify(section.displayTargets, null, 4));
					displaySubscription = this.events.subscribe(section.displayTargets, function (event, done) {
						if (section.displayTest(section)) {
							displaySubscription.unsubscribe();
							pipeline.display(section, done);
						} else {
							done();
						}
					});
				}
			};

			Pipeline.prototype.getSection = function (config) {
				var section;
				if (typeof config === 'string' || typeof config === 'number') {
					config = {
						id: config
					};
					section = this.sections[config] = new Section(config, this);
					return section;
				}
				section = this.sections[config.id];
				if (section) {
					Y.mix(section, config, true);
				} else {
					section = this.sections[config.id] = new Section(config, this);
				}
				return section;
			};

			Pipeline.prototype.display = function (section) {
				var stub = Y.one('#' + section.id + '-section'),
					pipeline = this,
					sectionDOM;
					this.events.fire(section.id, 'beforeDisplay', function () {
						stub.ancestor().insertBefore(unescape(section.markup), stub);
						section.displayed = true;
						console.log('firing:' + section.id + '#afterDisplay');
						pipeline.events.fire(section.id, 'afterDisplay');
						Y.Array.each(section.embeddedChildren, function (value, name) {
							pipeline.events.fire(name, 'afterDisplay');
						});
					});
			};

			Section._combineTests = function () {
				return function () {
					return !Y.Array.some(arguments, function (nextFn) {
						return !nextFn.call();
				});
				};
			};
			Section.EVENT_TYPES = ['beforeDisplay', 'afterDisplay'];

			Section.prototype.displayTest = function () {
				return !!document.getElementById(this.id + '-section');
			};

			pipeline = new Pipeline(pipeline);

		});

		</script>

		<script type="text/javascript">
			var numPushed = 0;
		</script>

{{{end}}}
