<!DOCTYPE HTML>
<html>
	<head>
		<script type="text/javascript">var MOJITO_INIT=new Date().getTime();</script>
		{{#meta}}
		<meta name="{{name}}" content="{{content}}">
		{{/meta}}
		{{^meta}}
		<meta name="creator" content="Yahoo! Mojito {{mojito_version}}">
		{{/meta}}

		<title>{{title}}</title>

		{{{top}}}

	</head>
	<body>

		{{{child}}}
		{{{bottom}}}

		<script type="text/javascript">
		var pipeline = [];

		YUI().use('target-action-events', 'node', function (Y) {

			var Pipeline = function Pipeline(dummyPipeline) {
					this.events = new Y.Pipeline.Events();
					this.tasks = {};
					Y.Array.each(dummyPipeline, this.push.bind(this));
					this.notDisplayed = 0;
				},
				Task = function Task(config, pipeline) {
					this.pipeline = pipeline;
					Y.mix(this, config, true);
				};

			Pipeline.prototype.push = function (taskConfig) {
				var pipeline = this,
					task = this._getTask(taskConfig),
					displaySubscription;

				task.flushed = true;
				Y.mix(task, taskConfig, true);

				// subscribe to any events specified by the task
				Y.Array.each(['beforeDisplay', 'afterDisplay'], function (targetAction) {
					if (!task[targetAction]) {
						return;
					}
					var targets = {};
					targets[task.id] = [targetAction];
					this.events.subscribe(targets, task[targetAction]);
				}, this);

				// merge default displayTest with user provided test
				if (taskConfig.displayTest) {
					task.displayTest = function () {
						return Task.prototype.displayTest.bind(task).call() && taskConfig.displayTest();
					};
				}

				// subscribe to events for the display action
				if (task.displayTest()) {
					pipeline.display(task);
				} else {
					displaySubscription = this.events.subscribe(task.displayTargets, function (event, done) {
						if (task.displayTest(task)) {
							displaySubscription.unsubscribe();
							pipeline.display(task, done);
						} else {
							done();
						}
					});
				}
			};

			Pipeline.prototype._getTask = function (config) {
				var task;
				if (typeof config === 'string' || typeof config === 'number') {
					config = {
						id: config
					};
					return this.tasks[config.id] = (this.tasks[config.id] || new Task(config, this));
				}
				task = this.tasks[config.id];
				if (task) {
					Y.mix(task, config, true);
				} else {
					task = this.tasks[config.id] = new Task(config, this);
				}
				return task;
			};

			Pipeline.prototype.display = function (task) {
				var stub = Y.one('#' + task.id + '-section'),
					pipeline = this;
					this.events.fire(task.id, 'beforeDisplay', function () {
						stub.ancestor().insertBefore(unescape(task.markup), stub);
						task.displayed = true;
						pipeline.events.fire(task.id, 'afterDisplay');
						Y.Array.each(task.embeddedChildren, function (value, name) {
							pipeline.events.fire(name, 'afterDisplay');
						});
					});
			};

			Task.prototype.displayTest = function () {
				return !!document.getElementById(this.id + '-section');
			};

			pipeline = new Pipeline(pipeline);

		});

		</script>

		<script type="text/javascript">
			var numPushed = 0;
		</script>

{{{end}}}
