<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript">var MOJITO_INIT=new Date().getTime();</script>
{{#meta}}
<meta name="{{name}}" content="{{content}}">
{{/meta}}
{{^meta}}
<meta name="creator" content="Yahoo! Mojito {{mojito_version}}">
{{/meta}}

<title>{{title}}</title>

{{{top}}}

</head>
<body>

{{{child}}}

{{{bottom}}}

<script type="text/javascript">

	var Pipeline = function Pipeline(argument) {
	        this.events = new Y.Pipeline.Events();
	        this.sections = {};
		},
		Section = function Section(options, pipeline) {
			this.pipeline = pipeline;
		};

	Pipeline.prototype.push = function(config) {

	};
	Pipeline.prototype.getSection = function(config) {
        var section;
        if (typeof config === 'string' || typeof config === 'number') {
            config = {
                id: config
            };
            section = this.sections[config] = new Section(config, this);
            return section;
        }
        section = this.sections[config.id];
        if (section) {
            Y.mix(section, config, true);
        } else {
            section = this.sections[config.id] = new Section(config, this);
        }
        return section;
	};

    Y.namespace('Pipeline') = Pipeline;

</script>

</body>
</html>
